
html{
    background-image: url(./img/fondo.jpg);
}

h1 {
    color: white;
    font-size: 32px;
}
header{
    display: flex;
    margin: 0;
}

body {

    margin: 0;
    background-color: rgba(22, 21, 21, 0.596);
    z-index: 1;

}
p{
    margin: 20px 20px;
}

main {
    display: flex;
    justify-content: center;
}


#logo {

    margin: 15px 15px;
    width: 250px;
    height: 60px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: rgba(0, 0, 0, 0.733);
    width: 314px;
    height: 440px;
    padding: 60px 68px 40px 68px;

}

.input {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: white;

}

 #btnLogin{
    border: 0;
    width: 100%;
    background-color: #e50914;
    border-radius: 4px;
    height: 50px;
    color: white;
    font-size: 16px;
}

.contenedor-chico {
    display: flex;
    gap: 90px;
    align-items: center;

}

span,
a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    width: min-content;

}
#checkbox{
    margin-right: 8px;
}
.recuerdame{
    display: flex;
}

a:hover {
    text-decoration: underline;

}

footer {
    margin-top: 22px;
    display:flex;
    flex-direction: column;
    height: 240px;
    background: rgba(0, 0, 0, .75);
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

}

.parrafo{
    height: fit-content;
    margin: 5px;
    color: #757575;
    font-size: 20px;
}
.preguntas{
    display:flex;
    gap:25px;
}


.foot {
    color: #757575;
    font-size: 19px;

}

.cookies {
    margin-top: 18px;
    display: flex;
    gap:25px;
  

}
@media only screen and (max-width: 600px) {
    .foot,.parrafo {
        font-size: 16px;
    }
    header{
        justify-content: center;
    }
 }

 @media only screen and (max-width: 500px) {
    .contenedor{
        padding: 50px 20px 30px 20px;
    }

 }